<div id="add">
    <label>Name:</label> <input id="movieName" #movieName /> <br />
    <label>Year:</label> <input id="movieYear" #movieYear />
    <button (click)="add(movieName.value, movieYear.value); 
        movieName.value=''; movieYear.value=''">Add Movie
    </button>
</div>
<ul class="movies">
    <li *ngFor="let movie of movies" (click)="onSelect(movie)"
        [class.selected]="movie === selectedMovie">
        <span class="badge">{{movie.id}}</span>
        <span>{{movie.name}} ({{movie.year}})</span>
        <button class="delete"
            (click)="delete(movie); $event.stopPropagation()">x</button> 
    </li>
</ul>
<div *ngIf="selectedMovie">
    <h2>
        {{selectedMovie.name | uppercase}} is my favorite
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>